# See http://help.github.com/ignore-files/ for more about ignoring files.
node-modules
# compiled output
/dist
/tmp
/out-tsc

# dependencies
.node_modules/*
node_modules/

async & performance/
es6 & beyond/
types & grammar/

CONTRIBUTING.md
LICENSE.txt
PULL_REQUEST_TEMPLATE.md
preface.md


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#filetypes
*.pdf
*.mp4

#FOLDERS
/reports
/coverage-e2e
/combined-coverage

/.nyc_output
/.nyc_output/out.json
