<h2 highlight data-cy="page-title">{{title}}</h2>

<div class="grid grid-pad qa-heroes">
  <ng-container *ngFor="let hero of heroes">
    <dashboard-hero class="col-1-4 qa-hero-list-item"
                    [hero]=hero
                    (selected)="gotoDetail($event)">
    </dashboard-hero>
  </ng-container>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
